.keyboard {
  margin: 0 auto;
  width: 700px;
  height: 300px;
  padding: 0;
  flex-flow: column;
  display: flex;
  flex: 4;
  position: relative;
}

.keys {
  height: 100%;
  display: flex;
  flex: 8;
  justify-content: center;
}

.key {
  flex: 1;
  display: inline-flex;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.key-white {
  flex-flow: column;
  justify-content: flex-end;
  border: 1px solid #e3e3e3;
  color: #222;
  background-color: white;
  padding-bottom: 10px;
  margin: 0 1px;
  box-shadow: 0 5px 5px #ccc;
}

.key-black {
  justify-content: center;
  position: relative;
  height: 70%;
  background-color: #333;
  color: white;
  width: 8%;
  margin: 0 -29px;
  box-shadow: 0 5px 5px #999;
}

.key-white.key-pressed {
  box-shadow: inset 5px 0 5px #ccc;
}

.key-black.key-pressed {
  box-shadow: inset 5px 0 5px #111;
}

.note-name {
  opacity: 0.5;
  font-size: 12px;
  position: absolute;
  bottom: 10px;
}

.keyboard-letter {
  position: absolute;
  bottom: 30px;
}
